.button{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $granitegray;
    border-radius: 4px;
    box-sizing: border-box;
}

.button:hover{
    border: 1px solid $lightgray;
}
.button:focus{
    border: 1px solid $lightgray;
    color: $lightgray;
}